* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topNav {
  overflow: hidden;
  background-color: #282a35;
}

.topNav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.topNav a.active {
  background-color: #2196f3;
  color: white;
}

.topNav .search-container {
  float: right;
}

.topNav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  outline: none;
}

.topNav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topNav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 650px) {
  .topNav {
    background-color: #e9e9e9;
  }
  .topNav a {
    color: black;
  }
  .topNav a,
  .topNav input[type="text"],
  .topNav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topNav input[type="text"] {
    border: 1px solid #ccc;
  }
  .topNav .search-container {
    float: none;
  }
  .topNav .search-container input {
    width: 90%;
    float: left;
  }
  .topNav .search-container button {
    width: 10%;
    float: left;
  }
}
